<div class="container">
  <h1>Requests</h1>
  <button type="button" class="btn btn-success" routerLink="/createRequest" routerLinkActive="active">Create Request</button>
  <h2>You have {{user.availablePTO}} days available for Paid Time Off.</h2>
  <div *ngIf="request">
    <table>
        <tr>
            <th>#</th>
            <th>Absence Type</th>
            <th>Days</th>
            <th>Dates</th>
            <th>Submit Date</th>
            <th>Status</th>
          </tr>
      <tr>
        <td>{{this.request.requestId}}</td>
        <td>{{this.request.type}}</td>
        <td>{{this.request.days}}</td>
        <td>{{this.request.dateStart}} - {{this.request.dateEnd}}</td>
        <td>{{this.request.submitDate}}</td>
        <td>{{this.request.status}}</td>
      </tr>
    </table>
    <button (click)="goBack()">Back</button>
  </div>
</div>