<div class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <a class="breadcrumb-item" href="#/list">Requests</a>
    <span class="breadcrumb-item active">Request details</span>
  </nav>
  <h2>Request</h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Person ID</th>
      <td>Bill Gates</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>approved</td>
    </tr>
    <tr>
      <th>Submit Date</th>
      <td>dates</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>PTO</td>
    </tr>
    <tr>
      <th>Reason</th>
      <td>Some reasons</td>
    </tr>
    <tr>
      <th>Note</th>
      <td>Some notes</td>
    </tr>
    <tr>
      <th>Dates</th>
      <td>Vacion days</td>
    </tr>
    <tr>
      <th>Document</th>
      <td>No document</td>
    </tr>
    <tr>
      <th>Scan</th>
      <td>No file uploaded</td>
    </tr>
  </table>
  <div>
    <button type="button" class="btn btn-success" (click)="goBack()">Back</button>
  </div>
</div>