<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <a *ngIf="isAdmin" routerLink="/register-form" routerLinkActive="active" class="navbar-brand">Register</a>      
    <a *ngIf="!userName" routerLink="/login" routerLinkActive="active" class="navbar-brand">Login</a>
    <a *ngIf="isAdmin" routerLink="/admin-panel" routerLinkActive="active" class="navbar-brand">Admin panel</a>
    <a routerLink="/list" routerLinkActive="active" class="navbar-brand">Requests</a>
    <a routerLink="/createRequest" routerLinkActive="active" class="navbar-brand">Create request</a>
    <button *ngIf="userName" type="button" class="btn btn-primary btn-sm" routerLink="/login">Logout</button>
  </nav>
</div>
<hr>

<div class="container">
  <h4 *ngIf="userName">Hello, {{userName}} (database id:  {{userId}}) </h4>
  <h5 *ngIf="isAdmin">{{isAdmin}}</h5>
</div>
<alert></alert>
<router-outlet></router-outlet>