<div class="ui-g-12 form-group ui-calendar">
  <h5>
    <i>Dates</i>
  </h5>
  <input class="ui-g-12" type="text" pInputText [(ngModel)]="inputDates" name="inputDates" [disabled]="true" />
</div>
<div class="ui-g-12 ui-md-4">
  <p-calendar [(ngModel)]="dates" selectionMode="multiple" [locale]="en" readonlyInput="true" dateFormat="dd/mm/yy" [inline]="true"
    [disabledDays]="[0,6]" [disabledDates]="invalidDates" yearRange="2000:2030" showButtonBar="true" (onSelect)="onSelect($event)"
    (onClearClick)="onClear($event)" (click)="onClickEvt($event,date)">
    <ng-template pTemplate="date" let-date>
      <span [ngStyle]="{backgroundColor: (setMyStyles(date)) ? 'red' : 'inherit', color: (setMyStyles(date)) ? 'black' : 'inherit'}" style="border-radius:10%">{{date.day}}</span>
    </ng-template>
  </p-calendar>
</div>